*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.container {
  text-align: center;
  margin-top: 5rem;
}

.btn {
  width: 120px;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 1rem;
  padding: 10px 15px;
  background-color: white;
  border: 2px solid tomato ;
  border-radius: 30px;
  /* color: #fff; */
  display: inline-block;
  text-align: center;
  transition-duration: 0.5s;
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  background-color: tomato;
}


